/* CSS BY JACK */

/* IMPORTED FONTS*/
/* IMPORT "INTER" FROM GOOGLE FONTS"*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --blue: #007BFF;
    --red: #FF4500;
    --white: #EAEAEA;
    --black: #000000;
    --charcoal: #333333;
    --font: "Inter", sans-serif;
}

/* GLOBAL STYLES (MOBILE FIRST (SMALL) */

/* MIN-WIDTH OF THE PAGE SHOULD NOT GO BELOW 400PX */
html{
    min-width: 400px;
    font-family: var(--font);
}
p{
    line-height: 1.5;
}
/* ADD A DIV WITH THE CLASS OF CONTAINER TO EVERY CONTENT CONTAINER THIS IS ALLOW THE BASE ELEMENTS TO BE 100% WIDTH, BUT CONSTRAIN THE ACTUAL CONTENT TO 90% */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* ADD TO "INNOVATION & INVESTMENT SECTION (Photo by Kevin Matos on Unsplash) */
#hero-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/vanguard-hero.jpg') no-repeat center center/cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
#hero-banner div {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

#hero-banner h2 {
    color: var(--white);
    font-size: 2rem;
    font-weight: 600;
}
#hero-banner p {
    color: var(--white);
    font-size: 1rem;
}
#hero-banner .button {
    background-color: var(--blue);
    color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease-in, font-size 0.2s ease-in;
}
#hero-banner .button:hover {
    background-color: var(--red);
    font-size: 1.1rem;
}


nav{
    display: flex;
    padding-bottom: 1rem;
}
/* Adding box shadow to header and make sure it shows up on top of hero banner */
header {
    position: relative;
    box-shadow: 0px 2px 10px 6px var(--blue);
    z-index: 10;
}

/* ADD FLOATING SVG LOGO BEFORE THE H1 */
@keyframes upAnddown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(0px);
    }
}
nav h1::before{
    content: "";
    position: absolute;
    top: .5rem;
    left:.5rem;
    width: 3.75rem;
    height: 3.75rem;
    background: url('images/vanguard-logo.svg') no-repeat center/contain;
    animation: upAnddown 6s ease-in-out infinite;
}
nav h1{
    position: relative;
    font-family: sans-serif;
    color: var(--blue);
    font-size: 2rem;
    font-weight: bold;
    padding: 1.5rem;
    padding-left: 5rem;
    margin-top: auto;
    margin-bottom: auto;
}
/* THIS ONE IS DONE FOR YOU */
#bar-chart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-end;
    justify-content: space-around;
    gap: 1rem;
    height: 300px;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    position: relative;
}
/* ADD ON TRANSITION ON HEIGHT */
.bar {
    width: 50px;
    background: var(--charcoal);
    border-radius: 10px;
    position: relative;
    transition: height 0.5s ease-in-out;
    height: 0;
}
/* THIS ONE IS DONE FOR YOU */
.bar::after {
    content: attr(data-year);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
}
@keyframes stepUp {
    0% {
        height: 0;
    }
    100% {
        height: var(--height);
    }
}
/* ADD ANIMATION ON stepUp for 1s ease-in-out forwards */
.bar {
    animation: stepUp 1s ease-in-out forwards;
}

nav {
  background-color: var(--black);
  min-height: 6rem;
}

nav ul {
  width: 100%;
  margin:0;
  padding:0;
  list-style:none;
  overflow:hidden;
  text-align:center;
  max-height: 0;
}
nav h2 {
  display: none;
}
nav li a {
  display:block;
  font-family:sans-serif;
  font-size:1.5rem;
  padding:1rem;
  text-transform:uppercase;
  font-weight:bold;
  text-decoration:none;
  color: white;
  transition: background-color .3s ease-in;
}
nav a:hover, nav #menu-toggle:hover {
    background-color: var(--blue);
    color: var(--black);
}
nav #menu-burger {
    cursor: pointer;
    display: inline-block;
    padding: 1.5rem;
    user-select: none;
}
    
/* BUILDS THE MIDDLE LINE OF THE HAMBURGER */
#menu-burger span {
    background-color: rgb(255, 255, 255);
    display: block;
    height: .25rem;
    position: relative;
    transition: background-color .3s ease-out;
    width: 2rem;
}
/* BUILDS THE TOP AND BOTTOM LINES OF THE HAMBURGER*/
#menu-burger span:before, #menu-burger span:after {
    background: rgb(255, 255, 255);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
#menu-burger span:before {
    top: .75rem;
}
#menu-burger span:after {
    top: -.75rem;
}
#menu-toggle {
  display:none;
}

/* POSITION THE HAMBURGER AT THE TOP-RIGHT OF THE PAGE */
#menu-burger {
    position: absolute;
    top: .75rem;
    right: .75rem;
    z-index: 1;
}

/* ADDS HEIGHT THE NAV WHEN IT'S DROPPED DOWN */
#menu-toggle:checked ~ ul {
    max-height: 500px;
    padding-top: 4rem;
}
/* MAKES THE MIDDLE LINE OF THE HAMBURGER DISAPPEAR */
#menu-toggle:checked ~ #menu-burger span {
    background: transparent;
}
/* ROTATES THE TOP LINE OF THE HAMBURGER INTO ONE SIDE OF THE X */
#menu-toggle:checked ~ #menu-burger span:before {
    transform: rotate(-45deg);
}
/* ROTATES THE BOTTOM LINE OF THE HAMBURGER INTO ONE SIDE OF THE X */
#menu-toggle:checked ~ #menu-burger span:after {
    transform: rotate(45deg);
}
/* LOCATION OF THE HAMBURGER */
#menu-toggle:checked ~ #menu-burger span:before, #menu-toggle:checked ~ #menu-burger span:after {
    top: 0;
}

h2{
    color: var(--charcoal);
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}

.offers {
    background-color: var(--blue);
    margin-bottom: 1rem;
    padding: 1.5rem;
    border-radius: 10px;
    color: var(--white);
}
.offers h3 {
    margin-bottom: .5rem;
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 1rem;
    margin-top: 1rem;
}

#results {
    background-color: var(--blue);
    color: var(--white);
    margin-bottom: 2rem;
    padding: 0.1rem 0 1rem 0;
}

#results h2{
    color: var(--white);
    margin-left: 1rem;
}
#results table{
    text-align: center;
    width: 100%;
}

#results table td, #results table th {
    border: 1px solid var(--charcoal);
    padding: 1rem;
}

#results table thead {
    background-color: var(--black);
}
#results table tr:nth-child(even) {
    background-color: var(--charcoal);
}
#results table tr:nth-child(odd) {
    background-color: var(--black);
}


/* MEDIA QUERIES (MEDIUM) */ 
@media screen and (min-width: 800px){
    nav ul {
        overflow:visible;
        position:absolute;
        top: 1.5rem;
        left:.5rem;
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
    }
    nav li a {
        display:inline-block;
    }
    #menu-burger span, #menu-toggle {
        display:none;
    }

    #results {
        grid-template-columns: 1fr 1fr;
    }
    .results-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .results-table {
        width: 50%;
    }
    .bar-chart {
        width: 50%;
    }
}


/* MEDIA QUERIES (LARGE) */
